<a href="https://colab.research.google.com/github/palanipsb/Chatbot/blob/master/Mywrkcert.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DECLARE
V_NUMBER NUMBER :=1;
BEGIN
    LOOP
        DBMS_OUTPUT.PUT_LINE('THE VALUE IS: '||V_NUMBER);
        V_NUMBER := V_NUMBER+1;
        IF(V_NUMBER = 11) THEN
            EXIT;
        END IF;
     END LOOP;
 END;
            
     
DECLARE
V_NUMBER NUMBER := 1;
BEGIN
    WHILE(V_NUMBER <=10) LOOP
        DBMS_OUTPUT.PUT_LINE('THE VALUE IS '||V_NUMBER);
        V_NUMBER := V_NUMBER+1;
    END LOOP;
END;

BEGIN
    FOR I IN 1..10   LOOP
        DBMS_OUTPUT.PUT_LINE('THE VALUE IS '||I);
    END LOOP;
END;

BEGIN
  FOR i IN 1..10 LOOP
    dbms_output.put_line('OUTER BLOCK IS : ' || I);
    FOR J IN 5..10 LOOP
       dbms_output.put_line('INNER LOOP IS : ' || I*J);
    END LOOP;
  END LOOP;
END;

DECLARE
BEGIN
    <<OUTER_LOOP>>
    FOR I IN 1..5 LOOP
        DBMS_OUTPUT.PUT_LINE('THE OUTER LOOP: '||I);
        <<INNER_LOOP>>
        FOR J IN 6..7 LOOP
            DBMS_OUTPUT.PUT_LINE('THE INNER LOOP: '||J);
            IF (I = 3) THEN
                EXIT OUTER_LOOP;
            END IF;
        END LOOP INNER_LOOP;
    END LOOP OUTER_LOOP;
END;

BEGIN
    <<OUTER_LOOP>>
    FOR i IN 1..5 LOOP
        BEGIN
            DBMS_OUTPUT.PUT_LINE('THIS IS OUTER LOOP: '||i);
        END;
        <<INNER_LOOP>>
        FOR j IN 6..8 LOOP
           DBMS_OUTPUT.PUT_LINE('THIS IS INNER LOOP: '|| j);
           CONTINUE INNER_LOOP WHEN MOD(j,6)=0;
        END LOOP INNER_LOOP;
     END LOOP OUTER_LOOP;
END;

DECLARE
V_SEARCH_NUMBER NUMBER :=7;
IS_PRIME_NUMBER BOOLEAN :=TRUE;
BEGIN
    FOR i IN 2..v_SEARCH_NUMBER-1 LOOP
        DBMS_OUTPUT.PUT_LINE('LOOP NUMBER'||i);
        IF(MOD(V_SEARCH_NUMBER,i) =0) THEN
            DBMS_OUTPUT.PUT_LINE(v_SEARCH_NUMBER|| ' IS NOT A PRIME NUMBER:');
            IS_PRIME_NUMBER :=FALSE;
            GOTO END_POINT;
        END IF;
    END LOOP;
    
    IF(IS_PRIME_NUMBER) THEN
        DBMS_OUTPUT.PUT_LINE(v_SEARCH_NUMBER||' IS A PRIME NUMBER');
    END IF;
    
    <<END_POINT>>
        DBMS_OUTPUT.PUT_LINE('SEARCH COMPLETE');
END;
    
DECLARE
V_DRUG_NAME TRAN_3_0_PRG4.DRUG_KIT_TYPE.NAME%TYPE;
V_DRUG_DESC TRAN_3_0_PRG4.DRUG_KIT_TYPE.DESCRIPTION%TYPE;
V_TOTAL_COUNT NUMBER :=0;
BEGIN
    SELECT COUNT(1) INTO V_TOTAL_COUNT FROM TRAN_3_0_PRG4.DRUG_KIT_TYPE WHERE NAME !='Double blind';
    FOR i IN 1..V_TOTAL_COUNT LOOP
        BEGIN
            SELECT NAME,DESCRIPTION INTO V_DRUG_NAME,V_DRUG_DESC FROM TRAN_3_0_PRG4.DRUG_KIT_TYPE WHERE NAME !='Double blind' AND NAME = TO_CHAR(i);
            DBMS_OUTPUT.PUT_LINE('THE DESCRIPTION OF THE DRUG: '||V_DRUG_NAME||' IS '||V_DRUG_DESC);
        END;
    END LOOP;
END;


BEGIN
    FOR i IN 4..5 LOOP
        INSERT INTO DRUG_KIT_TYPE_CPY SELECT SYS_GUID(),i,'TEST'||i FROM DUAL;
    END LOOP;
END;

CREATE SEQUENCE DRUG_KIT_TYPE_CPY_SEQ START WITH 1 INCREMENT BY 1;

SELECT * FROM DRUG_KIT_TYPE_CPY

BEGIN
    FOR i IN 6..10 LOOP
        INSERT INTO DRUG_KIT_TYPE_CPY SELECT SYS_GUID(),DRUG_KIT_TYPE_CPY_SEQ.NEXTVAL,'TEST_'||i FROM DUAL;
    END LOOP;
END;

DECLARE
V_SEQ_NUM NUMBER;
BEGIN
    SELECT DRUG_KIT_TYPE_CPY_SEQ.NEXTVAL INTO V_SEQ_NUM FROM DUAL;
    DBMS_OUTPUT.PUT_LINE('THE NEXT SEQUENCE NUMBER IS: '||V_SEQ_NUM);
END;

DECLARE
R_PAT USR_PAT%ROWTYPE;
BEGIN
    SELECT * INTO R_PAT
    FROM USR_PAT WHERE SPID = '0101-1001';
    
    DBMS_OUTPUT.PUT_LINE(R_PAT.SEQ ||', '
                            ||R_PAT.SPID||', '
                            ||R_PAT.SITE_ID || ''
                            );
END;

DECLARE
R_PAT USR_PAT%ROWTYPE;
BEGIN
    SELECT * INTO R_PAT
    FROM UsR_PAT WHERE SPID = '0101-1001';
    
    R_PAT.SPID := '0101-1001-01';
    DBMS_OUTPUT.PUT_LINE(R_PAT.SEQ ||', '
                            ||R_PAT.SPID||', '
                            ||R_PAT.SITE_ID || ''
                            );
END;

DECLARE
TYPE T_PAT IS RECORD (SEQ PLS_INTEGER,
                        SPID USR_PAT.SPID%TYPE,
                        SITE_ID USR_PAT.SITE_ID%TYPE);
R_PAT T_PAT;
BEGIN
    /*SELECT SEQ,SPID,SITE_ID INTO R_PAT
    FROM USR_PAT WHERE SPID = '0101-1001';*/
    R_PAT.SEQ := 5;
    R_PAT.SITE_ID := 46546465;
    R_PAT.SPID:= 'test';
    
    DBMS_OUTPUT.PUT_LINE(R_PAT.SEQ||','
                            ||R_PAT.SPID||','
                            ||R_PAT.SITE_ID);
END;

DECLARE
TYPE T_DTYPE IS RECORD (ID DRUG_KIT_TYPE.ID%TYPE,
                        DRUG_TYPE DRUG_KIT_TYPE.NAME%TYPE,
                        DRUG_KIT_DESCR DRUG_KIT_TYPE.DESCRIPTION%TYPE);
TYPE T_PAT IS RECORD (PAT_ID USR_PAT.PAT_ID%TYPE,
                        SPID USR_PAT.SPID%TYPE);
TYPE T_VISIT IS RECORD (VISIT_ID V_EDC_VISITS.ID%TYPE,
                        VISIT_NAME V_EDC_VISITS.DESCR%TYPE);
TYPE T_DRUG_KIT IS RECORD (DRUG_NO DRUG_KIT.NAME%TYPE,
                            DRUG_TYPE_ID DRUG_KIT.UNBL_KIT_TYPE_ID%TYPE,
                            PAT_ID DRUG_KIT.PAT_ID%TYPE,
                            VISIT_ID DRUG_KIT.VISIT_ID%TYPE,
                            STATUS_ID DRUG_KIT.STATUS_ID%TYPE,
                            LOCATION_ID DRUG_KIT.LOCATION_ID%TYPE,
                            DRUGTYPE T_DTYPE,
                            PATIENT T_PAT,
                            VISIT T_VISIT,
                            STATUS DRUG_STATUS%ROWTYPE,
                            LOC V_DRUG_LOCATION%ROWTYPE);
T_DRUG T_DRUG_KIT;
BEGIN
    SELECT NAME, UNBL_KIT_TYPE_ID, PAT_ID, VISIT_ID,STATUS_ID,LOCATION_ID
    INTO T_DRUG.DRUG_NO, T_DRUG.DRUG_TYPE_ID, T_DRUG.PAT_ID, T_DRUG.VISIT_ID,T_DRUG.STATUS_ID,T_DRUG.LOCATION_ID
    FROM DRUG_KIT WHERE ID = 3571;
    
    SELECT SPID INTO T_DRUG.PATIENT.SPID FROM USR_PAT WHERE PAT_ID = T_DRUG.PAT_ID;
    SELECT DESCR INTO T_DRUG.VISIT.VISIT_NAME FROM V_EDC_VISITS WHERE ID = T_DRUG.VISIT_ID;
    SELECT * INTO T_DRUG.STATUS FROM DRUG_STATUS WHERE ID = T_DRUG.STATUS_ID;
    SELECT * INTO T_DRUG.LOC FROM V_DRUG_LOCATION WHERE ID = T_DRUG.LOCATION_ID;
    SELECT NAME,DESCRIPTION INTO T_DRUG.DRUGTYPE.DRUG_TYPE,T_DRUG.DRUGTYPE.DRUG_KIT_DESCR FROM DRUG_KIT_TYPE WHERE ID = T_DRUG.DRUG_TYPE_ID;
    
    DBMS_OUTPUT.PUT_LINE(T_DRUG.LOC.GRP_NUMBER||', '||
                            T_DRUG.PATIENT.SPID||', '||
                            T_DRUG.VISIT.VISIT_NAME||', '||
                            T_DRUG.DRUG_NO||', '||
                            T_DRUG.DRUGTYPE.DRUG_TYPE||', '||
                            T_DRUG.DRUGTYPE.DRUG_KIT_DESCR||', '||
                            T_DRUG.STATUS.NAME
                            );
END;

DECLARE
TYPE DRUG IS TABLE OF PTC_DRUG_KIT_TYPE%ROWTYPE INDEX BY PLS_INTEGER;
IDX PLS_INTEGER;
DK DRUG;
BEGIN
    FOR i IN 1..3 LOOP
        SELECT * INTO DK(i) FROM DRUG_KIT_TYPE WHERE NAME !='Double blind' AND NAME = i;
    END LOOP;
    IDX := DK.FIRST;
    WHILE IDX IS NOT NULL LOOP
        INSERT INTO PTC_DRUG_KIT_TYPE VALUES DK(IDX);
        IDX :=DK.NEXT(IDX);
    END LOOP;
END;

select W.*,ROWNUM AS SEQ from v_drug_worker W ORDER BY ID

create table ptc_drug_KIT_TYPE as select * from DRUG_KIT_TYPE WHERE 1=2

DROP TABLE ptc_drug_worker

SELECT * FROM PTC_DRUG_KIT_TYPE

SELECT D.NAME,D.DESCRIPTION,DD.DOSE_ID,DD.DOSE_DESC FROM PTC_DRUG_KIT_TYPE D, TABLE(D.DOSE_DETAILS) DD

CREATE OR REPLACE TYPE T_DOSE AS OBJECT(DOSE_ID VARCHAR2(5), DOSE_DESC VARCHAR2(10));
/
CREATE OR REPLACE TYPE V_DOSE_DETAILS AS VARRAY(3) OF T_DOSE;
/
ALTER TABLE PTC_DRUG_KIT_TYPE ADD DOSE_DETAILS V_DOSE_DETAILS;
/

UPDATE PTC_DRUG_KIT_TYPE SET DOSE_DETAILS = V_DOSE_DETAILS(T_DOSE('101','1-10mg'), T_DOSE('102','1-20mg'))
WHERE NAME = '1';

UPDATE PTC_DRUG_KIT_TYPE SET DOSE_DETAILS = V_DOSE_DETAILS(T_DOSE('201','2-10mg'), T_DOSE('202','2-20mg'))
WHERE NAME = '2';

UPDATE PTC_DRUG_KIT_TYPE SET DOSE_DETAILS = V_DOSE_DETAILS(T_DOSE('301','3-10mg'), T_DOSE('302','3-20mg'))
WHERE NAME = '3';

DECLARE
CURSOR C_DRUG IS SELECT NAME,DESCRIPTION FROM DRUG_KIT_TYPE;
V_DRUG C_DRUG%ROWTYPE;
BEGIN
    OPEN C_DRUG;
        LOOP
            FETCH C_DRUG INTO V_DRUG.NAME, V_DRUG.DESCRIPTION;
            EXIT WHEN C_DRUG%NOTFOUND;
            DBMS_OUTPUT.PUT_LINE(V_DRUG.NAME||' '||V_DRUG.DESCRIPTION);
        END LOOP;
    CLOSE C_DRUG;
END;

DECLARE
TYPE D_DRUG IS RECORD(D_NAME DRUG_KIT_TYPE.NAME%TYPE, D_DESCR DRUG_KIT_TYPE.DESCRIPTION%TYPE);
V_DRUG D_DRUG;
CURSOR C_DRUG IS SELECT NAME,DESCRIPTION FROM DRUG_KIT_TYPE;
BEGIN
    OPEN C_DRUG;
    LOOP
        EXIT WHEN C_DRUG%NOTFOUND;
        FETCH C_DRUG INTO V_DRUG;
        DBMS_OUTPUT.PUT_LINE(V_DRUG.D_NAME||'---'||V_DRUG.D_DESCR);
    END LOOP;
    CLOSE C_DRUG;
END;

DECLARE
D_DRUG_TYPE DRUG_KIT_TYPE%ROWTYPE;
CURSOR D_DRUG IS SELECT NAME,DESCRIPTION FROM DRUG_KIT_TYPE;
BEGIN
    OPEN D_DRUG;
    LOOP
        FETCH D_DRUG INTO D_DRUG_TYPE.NAME, D_DRUG_TYPE.DESCRIPTION;
        EXIT WHEN D_DRUG%NOTFOUND;
        DBMS_OUTPUT.PUT_LINE(D_DRUG_TYPE.NAME||''||D_DRUG_TYPE.DESCRIPTION);
    END LOOP;
    CLOSE D_DRUG;
END;

DECLARE
D_DRUG DRUG_KIT_TYPE%ROWTYPE;
CURSOR C_DRUG IS SELECT NAME,DESCRIPTION FROM DRUG_KIT_TYPE;
BEGIN
    FOR i IN C_DRUG LOOP
        DBMS_OUTPUT.PUT_LINE(i.NAME||', '||i.DESCRIPTION);
    END LOOP;
END;


DECLARE
CURSOR D_DRUG IS SELECT ROWID,DK.NAME,DK.DESCRIPTION FROM PTC_DRUG_KIT_TYPE DK FOR UPDATE OF DK.NAME;
BEGIN
    FOR i IN D_DRUG LOOP
        UPDATE PTC_DRUG_KIT_TYPE SET DESCRIPTION = DESCRIPTION||'-TEST'
        WHERE ROWID=i.ROWID;
    END LOOP;
END;

DECLARE
CURSOR D_PAT_DETAILS(SITE V_DRUG_LOCATION.GRP_NUMBER%TYPE
                        , SCR_NO USR_PAT.SPID%TYPE              
                        ) IS SELECT LOC.GRP_NUMBER, PAT.SPID, VST.DESCR, DK.NAME AS DRUG_KITNAME, DK.DESCRIPTION FROM USR_PAT PAT
                        INNER JOIN V_DRUG_LOCATION LOC ON LOC.ID = PAT.SITE_ID
                        INNER JOIN DRUG_KIT KIT ON KIT.PAT_ID = PAT.PAT_ID
                        INNER JOIN DRUG_KIT_TYPE DK ON DK.ID = KIT.UNBL_KIT_TYPE_ID
                        INNER JOIN V_EDC_VISITS VST ON VST.ID = KIT.VISIT_ID
                        WHERE LOC.GRP_NUMBER = SITE AND PAT.SPID = SCR_NO;
BEGIN
    FOR i IN D_PAT_DETAILS('123101','123101-005') LOOP
        DBMS_OUTPUT.PUT_LINE(i.GRP_NUMBER||', '||i.SPID||', '||i.DESCR||', '||i.DRUG_KITNAME||'('||i.DESCRIPTION||')');
    END LOOP;
END;

DECLARE
CURSOR D_PAT_DETAILS(SITE V_DRUG_LOCATION.GRP_NUMBER%TYPE
                        , SCR_NO USR_PAT.SPID%TYPE              
                        ) IS SELECT LOC.GRP_NUMBER, PAT.SPID, VST.DESCR, DK.NAME AS DRUG_KITNAME, DK.DESCRIPTION FROM USR_PAT PAT
                        INNER JOIN V_DRUG_LOCATION LOC ON LOC.ID = PAT.SITE_ID
                        INNER JOIN DRUG_KIT KIT ON KIT.PAT_ID = PAT.PAT_ID
                        INNER JOIN DRUG_KIT_TYPE DK ON DK.ID = KIT.UNBL_KIT_TYPE_ID
                        INNER JOIN V_EDC_VISITS VST ON VST.ID = KIT.VISIT_ID
                        WHERE LOC.GRP_NUMBER = SITE AND PAT.SPID = SCR_NO
                        FOR UPDATE OF PAT.SPID NOWAIT;
D_DRUG D_PAT_DETAILS%ROWTYPE;
BEGIN
    IF NOT D_PAT_DETAILS%ISOPEN THEN
        OPEN D_PAT_DETAILS('123101','123101-005');
    END IF;
    LOOP
        FETCH D_PAT_DETAILS INTO D_DRUG;
        EXIT WHEN D_PAT_DETAILS%NOTFOUND;
        DBMS_OUTPUT.PUT_LINE('ROW COUNT '||D_PAT_DETAILS%ROWCOUNT);
        DBMS_OUTPUT.PUT_LINE(D_DRUG.GRP_NUMBER||', '||D_DRUG.SPID||', '||D_DRUG.DESCR||', '||D_DRUG.DRUG_KITNAME||'('||D_DRUG.DESCRIPTION||')');
    END LOOP;
    CLOSE D_PAT_DETAILS;
END;

DECLARE
CURSOR D_DRUG IS SELECT NAME,DESCRIPTION
BEGIN
    IF NOT D_PAT_DETAILS%ISOPEN THEN
        OPEN D_PAT_DETAILS('123101','123101-005');
    END IF;
    LOOP
        FETCH D_PAT_DETAILS INTO D_DRUG;
        EXIT WHEN D_PAT_DETAILS%NOTFOUND;
        DBMS_OUTPUT.PUT_LINE('ROW COUNT '||D_PAT_DETAILS%ROWCOUNT);
        DBMS_OUTPUT.PUT_LINE(D_DRUG.GRP_NUMBER||', '||D_DRUG.SPID||', '||D_DRUG.DESCR||', '||D_DRUG.DRUG_KITNAME||'('||D_DRUG.DESCRIPTION||')');
    END LOOP;
    CLOSE D_PAT_DETAILS;
END;

DECLARE
 TYPE T_EMPS IS REF CURSOR RETURN DRUG_KIT_TYPE%ROWTYPE;
 RC_EMPS T_EMPS;
 R_EMPS DRUG_KIT_TYPE%ROWTYPE;
BEGIN
  OPEN RC_EMPS FOR SELECT * FROM DRUG_KIT_TYPE;
    LOOP
      FETCH RC_EMPS INTO R_EMPS;
      EXIT WHEN RC_EMPS%NOTFOUND;
      DBMS_OUTPUT.PUT_LINE(R_EMPS.FIRST_NAME|| ' ' || R_EMPS.LAST_NAME);
    END LOOP;
  CLOSE RC_EMPS;
END;
/

DECLARE
UPDATE_NOT_ALLOWED EXCEPTION;
PRAGMA EXCEPTION_INIT(UPDATE_NOT_ALLOWED,-01407);
BEGIN
    UPDATE DRUG_KIT_TYPE SET NAME = NULL WHERE NAME = '1';
    EXCEPTION
    WHEN UPDATE_NOT_ALLOWED THEN
        DBMS_OUTPUT.PUT_LINE('THE VALUE CAN NOT BE UPDATED TO NULL');
END;

DECLARE
V_NAME VARCHAR(5);
BEGIN
    SELECT NAME INTO V_NAME FROM DRUG_KIT_TYPE;
    DBMS_OUTPUT.PUT_LINE('THE NAME: '|| V_NAME);
    EXCEPTION
    WHEN TOO_MANY_ROWS THEN
        DBMS_OUTPUT.PUT_LINE('TOO MANY' ||V_NAME);
END;

DECLARE
CURSOR DRUG_TYPE IS SELECT * FROM DRUG_KIT_TYPE_COPY;
BEGIN
    FOR i IN DRUG_TYPE LOOP
        DBMS_OUTPUT.PUT_LINE('OLD VALUE: '||i.DESCRIPTION);
        UPDATEANDDISPDRUG(i.NAME);
        COMMIT;
    END LOOP;
    FOR i IN DRUG_TYPE LOOP
        DBMS_OUTPUT.PUT_LINE('NEW VALUE: '||i.DESCRIPTION);
    END LOOP;
END;

CREATE OR REPLACE FUNCTION PLCH_START_DATE(FREQUENCY_IN IN VARCHAR2, DATE_IN IN DATE DEFAULT SYSDATE) RETURN VARCHAR2 IS
BEGIN
    RETURN TO_CHAR(TRUNC(DATE_IN-1,REPLACE(FREQUENCY_IN,'M','MM')),'YYYY-MM-DD');
END;
/

BEGIN
    DBMS_OUTPUT.PUT_LINE(PLCH_START_DATE('Y',DATE '2014-01-01'));
    DBMS_OUTPUT.PUT_LINE(PLCH_START_DATE('Q',DATE '2014-01-01'));
    DBMS_OUTPUT.PUT_LINE(PLCH_START_DATE('M',DATE '2013-11-01'));
END;
/

DECLARE
TYPE NUMBERS_T IS TABLE OF NUMBER;
NUMBERS NUMBERS_T :=NUMBERS_T(2, 4, NULL, 8, 10);
IDX NUMBER;
BEGIN
    IDX := 1;
    WHILE NOT NUMBERS(IDX)>8 LOOP
        --EXIT WHEN NOT NUMBERS(IDX)<=8;
        IF NUMBERS(IDX) IS NULL THEN
            DBMS_OUTPUT.PUT_LINE('NULL');
        ELSE
            DBMS_OUTPUT.PUT_LINE(NUMBERS(IDX));
        END IF;
        IDX := IDX+1;
    END LOOP;
END;
/

DECLARE
CURSOR DRUG_TYPE_CUR IS SELECT * FROM DRUG_KIT_TYPE;
DRUGTYPE DRUG_TYPE_CUR%ROWTYPE;
BEGIN
    OPEN DRUG_TYPE_CUR;
    LOOP
        FETCH  DRUG_TYPE_CUR INTO DRUGTYPE;
        EXIT WHEN DRUG_TYPE_CUR%NOTFOUND;
        DBMS_OUTPUT.PUT_LINE(DRUGTYPE.DESCRIPTION);
    END LOOP;
END;
/

DECLARE
CURSOR DRUGKIT IS SELECT * FROM DRUG_KIT_TYPE;
BEGIN
    FOR i IN DRUGKIT LOOP
        DBMS_OUTPUT.PUT_LINE(i.DESCRIPTION);
    END LOOP;
END;
/

DECLARE
CURSOR DRUGKT IS SELECT * FROM DRUG_KIT_TYPE;
TYPE DRUG_KIT_T IS TABLE OF DRUGKT%ROWTYPE;
DRUGTYPE DRUG_KIT_T;
BEGIN
    SELECT * BULK COLLECT INTO DRUGTYPE FROM DRUG_KIT_TYPE;
    FOR i IN 1..DRUGTYPE.COUNT LOOP
        DBMS_OUTPUT.PUT_LINE(DRUGTYPE(i).DESCRIPTION);
    END LOOP;
END;
/

BEGIN
    FOR i IN (SELECT * FROM DRUG_KIT_TYPE) LOOP
        DBMS_OUTPUT.PUT_LINE(i.DESCRIPTION);
    END LOOP;
END;
/

CREATE OR REPLACE PACKAGE DRUGKITTYPE
IS
TYPE DRUGKT IS TABLE OF DRUG_KIT_TYPE.DESCRIPTION%TYPE INDEX BY PLS_INTEGER;
PROCEDURE DISPDRUGDESCR(DSCR IN DRUGKT);
END DRUGKITTYPE;
/

CREATE OR REPLACE PACKAGE BODY DRUGKITTYPE IS
PROCEDURE DISPDRUGDESCR(DSCR IN DRUGKT)
IS
    i PLS_INTEGER :=DSCR.LAST;
    BEGIN
        WHILE (i IS NOT NULL) LOOP
            EXIT WHEN DSCR(i)='VXA-CoV2-3.1';
            DBMS_OUTPUT.PUT_LINE(DSCR(i));
            i := DSCR.PRIOR(i);
        END LOOP;
    END;
END DRUGKITTYPE;
/

DECLARE
DRUGKTP DRUGKITTYPE.DRUGKT;
NUM PLS_INTEGER :=0;
BEGIN
    FOR i IN (SELECT * FROM DRUG_KIT_TYPE) LOOP
        NUM := NUM + 1;
        DRUGKTP(NUM) := i.DESCRIPTION;
    END LOOP;
    DRUGKITTYPE.DISPDRUGDESCR(DRUGKTP);
END;
/

DECLARE
C_STRING CONSTANT VARCHAR2(20) :='Spring is here!';
C_R_LOC CONSTANT PLS_INTEGER :=3;
C_R_LEN CONSTANT PLS_INTEGER :=4;
C_R_LEN1 CONSTANT PLS_INTEGER :=6;
C_R_CHR CONSTANT CHAR(1) :='r';
C_R_LOC1 CONSTANT PLS_INTEGER :=INSTR(C_STRING,'r');
BEGIN
    DBMS_OUTPUT.PUT_LINE(SUBSTR(C_STRING,C_R_LOC,C_R_LEN));
    --DBMS_OUTPUT.PUT_LINE(SUBSTR(C_STRING,C_R_LOC,C_R_LEN1));
   -- DBMS_OUTPUT.PUT_LINE(SUBSTR(C_STRING,C_R_CHR,C_R_LEN));
    DBMS_OUTPUT.PUT_LINE(SUBSTR(C_STRING,C_R_LOC1,C_R_LEN));
    DBMS_OUTPUT.PUT_LINE(SUBSTR(C_STRING,C_R_LOC,C_R_LEN1-C_R_LOC+1));
END;
/

CREATE OR REPLACE FUNCTION PTC_RIGHTMOST(STR IN VARCHAR2,STRLEN IN INTEGER) RETURN VARCHAR2
IS
BEGIN
    RETURN SUBSTR(STR, -LEAST(NULLIF(STRLEN, 0),LENGTH(STRLEN)));                
END;
/

CREATE OR REPLACE FUNCTION PTC_STRIP_CHARS(STR1 IN VARCHAR2, STR2 VARCHAR2) RETURN VARCHAR2
IS
BEGIN
    RETURN TRANSLATE(STR1, CHR(1)||STR2, CHR(1));
END;
/

CREATE OR REPLACE FUNCTION PTC_CH_FUN(STR IN VARCHAR2) RETURN VARCHAR2 IS
L_RETURN VARCHAR2(10) := UPPER(STR);
BEGIN
    RETURN L_RETURN;    
    EXCEPTION
    WHEN OTHERS THEN
        RETURN L_RETURN;
END;
/

DECLARE
L_VALUE VARCHAR2(30) :='This is your brain on music';
BEGIN
    DBMS_OUTPUT.PUT_LINE(PTC_CH_FUN(L_VALUE));
END;    

ALTER SESSION SET NLS_DATE_FORMAT = 'YYY-MM-DD';
/
CREATE OR REPLACE PACKAGE PTC_QZ_OUTPUT AUTHID DEFINER
IS
    PROCEDURE PUT_LINE(VALUE_IN IN VARCHAR2);
    PROCEDURE PUT_LINE(VALUE_IN IN NUMBER);
    PROCEDURE PUT_LINE(VALUE_IN IN DATE);
    PROCEDURE PUT_LINE(VALUE_IN IN BOOLEAN);
END;
/

CREATE OR REPLACE PACKAGE BODY PTC_QZ_OUTPUT
IS
    PROCEDURE PUT_LINE(VALUE_IN IN VARCHAR2) IS
    BEGIN
        DBMS_OUTPUT.PUT_LINE(VALUE_IN);
    END;
    PROCEDURE PUT_LINE(VALUE_IN IN NUMBER) IS
    BEGIN
        PUT_LINE(VALUE_IN);
    END;
    PROCEDURE PUT_LINE(VALUE_IN IN DATE) IS
    BEGIN
        PUT_LINE(VALUE_IN);
    END;
    PROCEDURE PUT_LINE(VALUE_IN IN BOOLEAN) IS
    BEGIN
        PUT_LINE(CASE WHEN VALUE_IN THEN 'TRUE' ELSE 'FALSE' END);
    END;
END;
/

BEGIN
    PTC_QZ_OUTPUT.PUT_LINE('abc');
    PTC_QZ_OUTPUT.PUT_LINE(123||'');
    PTC_QZ_OUTPUT.PUT_LINE(DATE '2018-09-23');
    PTC_QZ_OUTPUT.PUT_LINE(TRUE);
END;
/

CREATE OR REPLACE TYPE T_DAY AS OBJECT(V_DATE DATE, V_DAY_NUMBER INT);
/

CREATE OR REPLACE TYPE T_DAYS_TAB IS TABLE OF T_DAY;
/

CREATE OR REPLACE FUNCTION F_GET_DAYS(P_START_DATE DATE, P_DAY_NUMBER INT) RETURN T_DAYS_TAB IS
V_DAYS T_DAYS_TAB :=T_DAYS_TAB();
BEGIN
    FOR i IN 1 .. P_DAY_NUMBER LOOP
        V_DAYS.EXTEND();
        V_DAYS(i) := T_DAY(P_START_DATE+i, TO_NUMBER(TO_CHAR(P_START_DATE+i,'DDD')));
    END LOOP;
    RETURN V_DAYS;
END;
/

CREATE OR REPLACE FUNCTION F_GET_DAYS_PIPED(P_START_DATE DATE, P_DAY_NUMBER INT) RETURN T_DAYS_TAB PIPELINED IS
BEGIN
    FOR i IN 1..P_DAY_NUMBER LOOP
        PIPE ROW(T_DAY(P_START_DATE+i, TO_NUMBER(TO_CHAR(P_START_DATE+i,'DDD'))));
    END LOOP;
    RETURN;
END;
/